[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pylint = "*"
pytest = ">=6.2.5"
ipython = "*"
autopep8 = "*"
sphinx = "*"
pylama = "*"

[packages]

[requires]
python_version = "3"

[scripts]
test = "pytest -vv pyzshcomplete/tests"
